.logo {
  display: flex;
  align-items: center;
  margin-right: 40px;

  font-family: var(--title-fonts);
  font-size: 18px;
  line-height: 1.8;

  color: var(--title-text-color);
}

.logo-icon {
  width: 35px;
  height: 31px;
  margin-right: 9px;
}
