.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 57px;

  .vide-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 57px;
  }

  .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100px;
    height: 100px;

    border-radius: 100%;
    border: none;
    cursor: pointer;

    opacity: 0.8;
    transition: opacity 0.3s ease;

    svg {
      width: 40px;
      height: 40px;
    }

    transition: box-shadow var(--transition-property);

    &:hover,
    &:focus {
      border: 1px solid var(--primary-text-color);
      box-shadow: var(--box-shadow-accent);
    }

    @media screen and (min-width: 768px) {
      width: 180px;
      height: 180px;
    }
  }
}
.play-button.hide {
  opacity: 0;
}
