// /* Слайдер */
// .slick-slider {
// }
// /* Слайдер запущен */
// .slick-slider.slick-initialized {
// }
// /* Слайдер с точками */
// .slick-slider.slick-dotted {
// }
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
  justify-content: space-between;
}
// /* Слайд */
// .slick-slide {
// }
// /* Слайд активный (показывается) */
// .slick-slide.slick-active {
// }
// /* Слайд основной */
// .slick-slide.slick-current {
// }
// /* Слайд по центру */
// .slick-slide.slick-center {
// }
// /* Клонированный слайд */
// .slick-slide.slick-cloned {
// }
// /* Стрелка */
// .slick-arrow {
// }
// /* Стрелка влево */
// .slick-arrow.slick-prev {
// }
// /* Стрелка вправо */
// .slick-arrow.slick-next {
// }
// /* Стрелка не активная */
// .slick-arrow.slick-disabled {
// }
// /* Точки (булиты) */
// .slick-dots {
// }
// .slick-dots li {
// }
// /* Активная точка */
// .slick-dots li.slick-active {
// }
// /* Элемент точки */
// .slick-dots li button {
// }

// .slide-container {
// }

.slider {
  position: relative;
  padding-bottom: 50px;
  margin-bottom: 30px;

  border: none;

  & .slick-arrow {
    position: absolute;

    bottom: 0;
    z-index: 10;

    font-size: 0;

    width: 30px;
    height: 30px;

    border: none;

    cursor: pointer;

    &.slick-prev {
      left: 30%;
      background: url('../img/icons.svg#leftarrow') 0 0 /100% no-repeat;
    }

    &.slick-next {
      right: 30%;
      background: url('../img/icons.svg#rightarrow') 0 0 /100% no-repeat;
    }

    &.slick-disabled {
      opacity: 0.2;
      cursor: default;
    }
  }
}
.slick-slide {
  padding: 10px;
  box-sizing: border-box;

  text-align: start;
  margin: 4px;

  background: #ffffff;
  border: 1px solid #dfdad6;
  box-shadow: inset -14px -47px 104px -30px rgba(45, 44, 44, 0.08);
  border-radius: 12px;

  transition: box-shadow var(--transition-property);

  &:hover,
  &:focus {
    box-shadow: var(--box-shadow-accent);
  }
}
//****************************media************************

@media screen and (min-width: 480px) {
}
@media screen and (min-width: 768px) {
  .slick-slide {
    margin: 6px;
  }
}
@media screen and (min-width: 1200px) {
  .slider {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    & .slick-arrow {
      top: 50%;

      &.slick-prev {
        left: 0;
      }

      &.slick-next {
        right: 0;
      }
    }
  }
  .slick-slide {
    margin: 8px;
  }
}
