.about-section {
  padding-top: 20px;
  padding-bottom: 40px;

  background-color: var(--secondary-bcg-color);

  &__title {
    margin-bottom: 17px;

    font-family: var(--title-fonts);

    font-size: 28px;
    line-height: 1.4;

    color: var(--title-text-color);

    &::before {
      content: 'ABOUT US';
      display: block;
      margin-bottom: 20px;

      font-family: var(--main-fonts);
      font-size: 20px;
      line-height: 1.1;
      letter-spacing: 1.2px;

      color: var(--accent-color);
    }
  }

  &__description {
    margin-bottom: 20px;

    font-family: var(--main-fonts);

    font-size: 16px;
    line-height: 1.4;

    color: var(--primary-text-color);
  }
  &__img {
    display: block;
    width: 100%;
    margin-bottom: 32px;
  }
  &__nav {
    & .main-button {
      margin-left: 16px;
      margin-right: 14px;
    }
    & .secondary-button {
      margin-bottom: 18px;
    }
  }
}

.about-list {
  list-style: none;
  &__item {
    display: flex;
    align-items: center;

    margin-bottom: 20px;

    font-family: var(--main-fonts);
    font-size: 18px;
    line-height: 20px;

    color: var(--title-text-color);
  }
  &__icon {
    width: 22px;
    height: 22px;

    margin-right: 25px;
  }
}

//****************************media************************

@media screen and (min-width: 480px) {
  .about-section {
    padding-top: 30px;

    &__title {
      font-size: 32px;
    }

    &__img {
      display: block;
      width: 100%;
      margin-bottom: 32px;
    }
    &__nav {
      & .main-button {
        margin-left: 14px;
        margin-right: 18px;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .about-section {
    display: flex;
    justify-content: end;
    margin-bottom: 48px;

    &__title {
      font-size: 32px;
    }

    &__nav {
      & .main-button {
        margin-bottom: 10px;
        margin-right: 18px;
      }
      & .secondary-button {
        margin-bottom: 10px;
      }
    }
  }
  .about-wrapper {
    display: flex;
    gap: 28px;

    padding-top: 50px;
    padding-bottom: 50px;
  }
  .left-block {
    & .about-section__description {
      margin-bottom: 50px;
    }
  }

  .right-block {
    & .about-section__img {
      margin-bottom: 47px;
    }
    & .about-section__description {
      margin-bottom: 20px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .about-wrapper {
    padding-top: 100px;
    padding-bottom: 200px;
  }
  .about-list {
    list-style: none;
    &__item {
    }
    &__icon {
      width: 26px;
      height: 26px;
    }
  }
}
