.action-section {
  position: relative;
  overflow: hidden;

  max-width: 1100px;

  text-align: center;

  padding-top: 40px;
  padding-bottom: 40px;

  border-radius: 48px;
  background-color: var(--accent-color);

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 160px;
    padding-bottom: 160px;
  }
}

.action-section__title {
  font-family: var(--title-fonts);
  font-size: 28px;
  line-height: 1.4;
  color: var(--title-fonts-color);

  @media screen and (min-width: 768px) {
    margin-left: 90px;
    font-size: 42px;
  }
}

.action-section .secondary-button {
  border: none;
  background-color: #ffff;

  @media screen and (min-width: 768px) {
    margin-right: 90px;
    margin-top: 40px;
  }
}

.action-section::before,
.action-section::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30%;

  pointer-events: none;
}

.action-section::before {
  left: 0;
  background-image: url('../img/icons.svg#spot1');
  background-repeat: no-repeat;
  //   background-size: cover;
}

.action-section::after {
  right: 0;
  background-image: url('../img/icons.svg#spot2');
  background-repeat: no-repeat;
  background-size: cover;
}
