.header-wrapper {
  display: flex;
  justify-content: space-between;

  padding-top: 15px;
  padding-bottom: 15px;

  background-color: var(--background-color);

  & .main-button {
    width: 142px;
    height: 54px;
    font-size: 16px;
  }
}
.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.main-nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  &__link {
    color: var(--primary-text-color);
  }
}
.nav-list__item {
  font-family: var(--main-fonts);
  font-size: 17px;
  line-height: 1.8;

  .nav-list & + & {
    margin-left: 26px;
  }
}
