.help-section {
  padding-top: 90px;
  padding-bottom: 90px;

  &__title {
    margin-bottom: 60px;

    font-family: var(--title-fonts);

    font-size: 32px;
    line-height: 1.4;

    color: var(--title-text-color);

    &::before {
      content: 'HOW WE HELP?';
      display: block;

      margin-bottom: 20px;

      font-family: var(--main-fonts);
      font-size: 20px;
      line-height: 1.1;

      color: var(--accent-color);
    }
  }
}
.help-list {
  display: flex;
  flex-wrap: wrap;

  &__item {
    display: block;

    padding: 10px;
    margin-bottom: 28px;

    text-align: center;

    border: 1px solid #f4e4d4;
    box-shadow: var(--box-shadow);
    border-radius: 12px;

    transition: box-shadow var(--transition-property);

    &:hover,
    &:focus {
      box-shadow: var(--box-shadow-accent);
    }
  }

  &__icon {
    margin-top: 24px;
    margin-bottom: 24px;

    width: 120px;
    height: 120px;
  }

  &__title {
    margin-bottom: 11px;

    font-family: var(--title-fonts);
    font-size: 20px;
    line-height: 1.4;

    color: var(--title-text-color);
  }

  &__text {
    margin-bottom: 31px;

    font-family: var(--main-fonts);
    font-size: 14px;
    line-height: 1.6;

    color: var(--primary-text-color);
  }
}

//****************************media************************

@media screen and (min-width: 480px) {
  .help-list {
    justify-content: space-between;

    &__item {
      flex-basis: calc(100% / 2 - 28px);

      padding-left: 10px;
      padding-right: 10px;
    }

    &__icon {
      width: 142px;
      height: 142px;
    }
  }
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1200px) {
  .help-section {
    padding-top: 200px;
    padding-bottom: 180px;

    &__title {
      font-size: 42px;
    }
  }

  .help-list {
    gap: 20px;

    &__item {
      flex-basis: calc(100% / 3 - 56px);

      padding-left: 20px;
      padding-right: 20px;

      &__icon {
        margin-top: 57px;
        margin-bottom: 54px;

        width: 172px;
        height: 172px;
      }

      &__title {
        font-size: 24px;
      }

      &__text {
        font-size: 18px;
      }
    }
  }
}
