.news-section {
  text-align: center;
  margin-bottom: 50px;

  &__title {
    margin-bottom: 49px;

    font-family: var(--title-fonts);
    font-size: 32px;
    line-height: 1.4;

    color: var(--title-text-color);

    &::before {
      content: 'NEWS & RESOURCES';
      display: block;

      margin-bottom: 17px;

      font-family: var(--main-fonts);
      font-size: 20px;
      line-height: 1.1;

      color: var(--accent-color);
    }
  }

  &__nav {
    & .main-button {
      margin-right: 18px;
    }
  }
}
.news {
  &__description {
    &_date {
      display: block;
      margin-top: 10px;
      margin-bottom: 34px;

      font-family: var(--main-fonts);
      font-size: 17px;
      line-height: 1.2;

      color: var(--primary-text-color);
    }

    &_title {
      margin-bottom: 28px;

      font-family: var(--title-fonts);
      font-size: 16px;
      line-height: 1.5;

      color: var(--title-text-color);
    }
  }
}
//****************************media************************

@media screen and (min-width: 480px) {
}
@media screen and (min-width: 768px) {
  .news-section {
    &__title {
      font-size: 42px;
    }

    &__nav {
      & .main-button {
        margin-right: 28px;
      }
    }
  }
  .news {
    &__description {
      &_title {
        font-size: 24px;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .news-section {
    margin-bottom: 100px;
  }
  .news {
    &__description {
      padding: 44px 81px 49px 49px;
    }
  }
}
