.results-section {
  @media screen and (min-width: 768px) {
    padding-top: 100px;
  }
}

.results {
  padding-bottom: 30px;
  &__description {
    margin-top: 90px;

    @media screen and (min-width: 768px) {
      width: 50%;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 116px;
    }
  }

  &__title {
    margin-bottom: 30px;

    font-family: var(--title-fonts);
    font-size: 42px;
    line-height: 1.4;
    color: var(--title-text-color);

    &::before {
      content: 'OUR RESULTS';
      display: block;
      width: 143px;

      margin-bottom: 20px;

      font-family: var(--main-fonts);
      font-size: 20px;
      line-height: 22px;
      color: var(--accent-color);
    }
  }

  &__img {
    display: none;
    @media screen and (min-width: 768px) {
      display: block;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    padding-bottom: 182px;
  }
}

.results-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-bottom: 40px;

  list-style: none;

  &__item {
    display: flex;
    align-items: center;
    width: 180px;
    margin-bottom: 28px;

    cursor: default;

    transition: box-shadow var(--transition-property);

    &:hover,
    &:focus {
      border-radius: 57px;
      box-shadow: var(--box-shadow-accent);
    }

    @media screen and (min-width: 768px) {
      width: 130px;
    }
    @media screen and (min-width: 1200px) {
      width: 246px;
    }
  }

  &__wrapper {
    &_count {
      font-family: var(--title-fonts);
      font-size: 18px;

      line-height: 1.5;

      color: var(--title-text-color);
      @media screen and (min-width: 768px) {
        font-size: 24px;
      }
      @media screen and (min-width: 1200px) {
        font-size: 38px;
      }
    }

    &_label {
      font-family: var(--main-fonts);
      font-size: 12px;
      line-height: 1.1;

      color: var(--primary-text-color);
    }
    @media screen and (min-width: 768px) {
      font-size: 14px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 18px;
    }
  }

  &__img {
    width: 36px;
    height: 36px;

    @media screen and (min-width: 1200px) {
      width: 76px;
      height: 76px;
    }
  }

  @media screen and (min-width: 768px) {
  }
}
