.stats-section {
  background-color: var(--secondary-bcg-color);

  &__title {
    visibility: hidden;
  }
}

.stats-list {
  display: flex;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 100px;

  list-style: none;

  border-bottom: 1px solid #dad1ca;

  &__item {
    flex-basis: calc(100% / 4 - 28px);
    width: 284px;

    padding-left: 50px;
    padding-right: 50px;
    text-align: center;

    font-family: var(--title-fonts);
    font-size: 60px;
    line-height: 1.3;

    color: var(--title-text-color);

    &_accent {
      color: var(--accent-color);
    }
  }

  &__articl {
    font-family: var(--main-fonts);

    font-size: 20px;
    line-height: 22px;

    color: var(--primary-text-color);
  }
}
